<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ua.kiev.homes.anna.tierheim">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="false"
        android:fullBackupContent="false"
        android:icon="@mipmap/ic_launcher_foreground"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".mainScreen.StartScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".forWorker.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".mainScreen.LogInScreen" />
        </activity>

        <activity
            android:name=".forWorker.EditorMode"
            android:launchMode="singleTask">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".forWorker.MainActivity" />
        </activity>

        <activity android:name=".mainScreen.LogInScreen"
            android:launchMode="singleTop">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".mainScreen.StartScreen" />
        </activity>

        <activity android:name=".forUser.UserRegistration"
            android:launchMode="singleTop">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".mainScreen.LogInScreen" />
        </activity>

        <activity android:name=".forWorker.FullScreenImage">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".forWorker.EditorMode" />
        </activity>

        <activity android:name=".forUser.UserMainScreen"
            android:launchMode="singleTop">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".forUser.UserRegistration" />
        </activity>

        <activity android:name=".forUser.ViewPet"
            android:parentActivityName=".forUser.UserMainScreen"
            android:launchMode="singleTop">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".forUser.UserMainScreen" />
        </activity>


        <provider
            android:name=".database.TierProvider"
            android:authorities="ua.kiev.homes.anna.tierheim"
            android:exported="false"></provider>

        <provider
            android:name=".userDatabase.UserProvider"
            android:authorities="ua.kiev.homes.anna.userProvider"
            android:exported="false"></provider>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="ua.kiev.homes.anna.tierheim.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>